/* POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* KARLA */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aaftab: rgba(239, 240, 243, 1); /* Background */
  --chaand: rgba(255, 255, 254, 1); /* Supporting background shade */
  --accent: rgba(255, 142, 60, 1); /* Primary Color*/
  --accent-light: rgba(255, 145, 66, 0.79); /* Light Primary Color */
  --qurbat: rgba(13, 13, 13, 1); /* Headline */
  --raqs: rgba(42, 42, 42, 1); /* Paragraph */
  --noor: rgba(217, 55, 110, 1);

  --karla-para: "Karla, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "
    Segoe UI ", Roboto, " Helvetica Neue ", Arial, " Noto Sans ", sans-serif, "
    Apple Color Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol ", " Noto Color
    Emoji "";
  --poppins-heading: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer base {
  * {
    transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--aaftab);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-light);
  }
  ::-moz-selection {
    /* Code for Firefox */
    color: var(--raqs);
    background: var(--accent);
  }

  ::selection {
    color: var(--chaand);
    background: var(--noor);
  }
  ul {
    list-style: none;
  }
  body {
    @apply w-full;
    min-height: 100vh;
    background-color: var(--aaftab);
  }
  html {
    @apply font-karla-para text-raqs;
  }
  input:disabled,
  button:disabled {
    @apply cursor-not-allowed;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .gradient-text {
    background: linear-gradient(
      90deg,
      var(--accent) 0%,
      rgba(255, 133, 45, 1) 40%,
      var(--noor) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-text::selection {
    -webkit-text-fill-color: var(--chaand);
  }

  .desc-text {
    @apply text-raqs leading-loose text-xl break-words font-karla-para font-medium;
  }
  .keyword {
    @apply bg-accent-light px-2 py-1 rounded-md whitespace-nowrap overflow-auto font-bold;
  }
  .keyword:hover {
    @apply bg-accent;
  }
  .keyword-under {
    @apply border-b-accent border-b-2 italic font-semibold mx-1 whitespace-nowrap capitalize overflow-auto hover:border-b-noor hover:border-b-4;
  }
  .link {
    @apply underline-offset-2 underline decoration-noor decoration-dashed cursor-pointer hover:decoration-solid;
  }
  .social-icon {
    @apply border-b-2 border-accent pb-2;
  }
  .sub-head {
    @apply text-raqs leading-relaxed text-xl py-3 font-karla-para font-medium;
  }
  .para {
    @apply text-raqs leading-normal text-lg py-2 font-karla-para font-normal;
  }

  .round-underline {
    position: relative;
    z-index: 2;
  }
  .round-underline::after {
    content: "";
    @apply h-4 mobilebelow:h-2 bg-accent-light rounded-xl block absolute top-1/2 left-0 right-0 w-full;
    z-index: -1;
  }
}
